.postsWrapper{
  width: 450px;
  height: 500px;
  padding: 10px 50px;
  background: #333348;
  border-radius: 40px;

}

.post{
  &_title{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
  }
  &_body{
    font-family: 'Sora';
    font-style: normal;
    color: #FFFFFF;
    font-size: 15px;
  }

}
.posts-enter {
  opacity: 0;
}
.posts-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.posts-exit {
  opacity: 1;
}
.posts-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
hr{
  border: 0.5px solid #4C4C6A;
}