.postsWrapper{
  width: 420px;
  height: 480px;
  padding: 20px 50px;
  background: #333348;
  border-radius: 40px;

}

.post{
  &_title{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    font-size: 22px;
    line-height: 20px;
    color: #FFFFFF;
  }
  &_body{
    font-family: 'Sora';
    font-style: normal;
    color: #FFFFFF;
    font-size: 15px;
  }
}
hr{
  border: 0.5px solid #4C4C6A;
}