.arrowWrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  &-item{
    display: flex;
    cursor: pointer;
    align-items: center;
    color: white;
    div{
      margin-left: 20px;
      margin-right: 20px;
    }
  }

}