input{
  border: none;
  outline: none;
  color:white;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  padding: 15px 15px;
  background: #333348;
  border-radius: 40px;
  &::placeholder{
    color: white;
  }
}
